{{define "title"}}Edit Suggestion{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>

	<form id="form" method="post">
		<div class="form-group">
			<label for="title">Suggestion Title</label>
			<div><textarea rows="5" class="form-control" id="title" name="title" placeholder="Type your suggestion here..." value="" />{{.title}}</textarea></div>
			<label for="description">Suggestion Description</label>
			<div><textarea rows="5" class="form-control" id="description" name="description" placeholder="Type your Description here..." value="" />{{.description}}</textarea></div>
			<label for="tags">Suggestion Tags</label>
			<div><textarea rows="5" class="form-control" id="tags" name="tags" placeholder="Type your tags here..." value="" />{{.tags}}</textarea></div>
		</div>

		<a title="Save" class="btn btn-success" role="submit" onclick="document.getElementById('form').submit();">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
		</a>
		<a title="Back to Suggestions" class="btn btn-danger" role="button" href="{{$.BaseURI}}suggestions">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
		</a>

		<input type="hidden" name="token" value="{{.token}}">
	</form>

	{{template "footer" .}}
</div>

{{end}}
{{define "foot"}}{{end}}
